In [4]:
import pandas as pd
from pandasql import sqldf
df_players = pd.read_csv("C:/Data Science/football/players_clean.csv")
df_stats = pd.read_csv("C:/Data Science/football/stats_clean.csv")
run = lambda q: sqldf(q, globals())

In [5]:
df_players.head()

,player_id,player_name,date_of_birth,nationality,position,preferred_foot,height_cm,current_club,league
0,1,Erling Haaland,2000-07-21,Norway,ST,Left,195,Manchester City,Premier League
1,2,Kylian Mbappé,1998-12-20,France,CF,Right,178,Real Madrid,LaLiga
2,3,Jude Bellingham,2003-06-29,England,AM,Right,186,Real Madrid,LaLiga
3,4,Vinicius Junior,2000-07-12,Brazil,LW,Right,176,Real Madrid,LaLiga
4,5,Harry Kane,1993-07-28,England,CF,Right,188,Bayern Munich,Bundesliga

In [6]:
df_stats.head()

,player_id,season,matches_played,minutes_played,goals,assists,xg,xa
0,1,2023-2024,45,3745,38,6,41.2,4.5
1,2,2023-2024,48,3869,44,10,39.5,8.2
2,3,2023-2024,42,3644,23,13,18.4,9.1
3,4,2023-2024,39,3084,24,11,19.8,10.2
4,5,2023-2024,45,3943,44,12,40.1,8.5

In [7]:
df_players.head()

,player_id,player_name,date_of_birth,nationality,position,preferred_foot,height_cm,current_club,league
0,1,Erling Haaland,2000-07-21,Norway,ST,Left,195,Manchester City,Premier League
1,2,Kylian Mbappé,1998-12-20,France,CF,Right,178,Real Madrid,LaLiga
2,3,Jude Bellingham,2003-06-29,England,AM,Right,186,Real Madrid,LaLiga
3,4,Vinicius Junior,2000-07-12,Brazil,LW,Right,176,Real Madrid,LaLiga
4,5,Harry Kane,1993-07-28,England,CF,Right,188,Bayern Munich,Bundesliga

In [8]:
df_info = df_players.merge(df_stats, on="player_id", how='left')

In [9]:
run("SELECT * FROM df_info LIMIT 5")

,player_id,player_name,date_of_birth,nationality,position,preferred_foot,height_cm,current_club,league,season,matches_played,minutes_played,goals,assists,xg,xa
0,1,Erling Haaland,2000-07-21,Norway,ST,Left,195,Manchester City,Premier League,2023-2024,45,3745,38,6,41.2,4.5
1,2,Kylian Mbappé,1998-12-20,France,CF,Right,178,Real Madrid,LaLiga,2023-2024,48,3869,44,10,39.5,8.2
2,3,Jude Bellingham,2003-06-29,England,AM,Right,186,Real Madrid,LaLiga,2023-2024,42,3644,23,13,18.4,9.1
3,4,Vinicius Junior,2000-07-12,Brazil,LW,Right,176,Real Madrid,LaLiga,2023-2024,39,3084,24,11,19.8,10.2
4,5,Harry Kane,1993-07-28,England,CF,Right,188,Bayern Munich,Bundesliga,2023-2024,45,3943,44,12,40.1,8.5

In [10]:
run("SELECT COUNT(*) AS total_rows FROM df_info")

   total_rows
0          30

In [11]:
run("SELECT COUNT(DISTINCT nationality) AS unique_nationality FROM df_info")

   unique_nationality
0                  16

In [12]:
run("SELECT player_name, SUM(goals) AS Goals FROM df_info GROUP BY player_name ORDER BY goals DESC LIMIT 10")

        player_name  Goals
0     Kylian Mbappé     44
1        Harry Kane     44
2    Erling Haaland     38
3        Phil Foden     27
4  Lautaro Martínez     27
5     Mohamed Salah     25
6       Cole Palmer     25
7   Vinicius Junior     24
8   Jude Bellingham     23
9       Bukayo Saka     20

In [13]:
run("SELECT current_club, SUM(Goals) AS club_goals FROM df_info GROUP BY current_club ORDER BY club_goals DESC LIMIT 10")

        current_club  club_goals
0        Real Madrid          94
1    Manchester City          74
2      Bayern Munich          59
3            Arsenal          40
4          Liverpool          32
5        Inter Milan          27
6            Chelsea          25
7   Bayer Leverkusen          18
8  Tottenham Hotspur          17
9        Galatasaray          17

In [14]:
run("SELECT player_name, SUM(goals) AS Goals, SUM(assists) AS Assists FROM df_info GROUP BY player_name HAVING assists > goals ORDER BY assists DESC")

              player_name  Goals  Assists
0           Florian Wirtz     18       20
1                   Rodri      9       14
2            Lamine Yamal      7       10
3  Trent Alexander-Arnold      3        9
4             Declan Rice      7        9
5       Federico Valverde      3        8
6           Achraf Hakimi      5        7
7         Alphonso Davies      3        6
8                   Pedri      4        5

In [15]:
run("SELECT player_name, SUM(goals) AS Goals, SUM(assists) AS Assists FROM df_info GROUP BY player_name HAVING SUM(goals) > 5 AND SUM(assists) > 5 ORDER BY assists DESC")

         player_name  Goals  Assists
0      Florian Wirtz     18       20
1        Cole Palmer     25       15
2              Rodri      9       14
3        Rafael Leão     15       14
4      Mohamed Salah     25       14
5        Bukayo Saka     20       14
6    Jude Bellingham     23       13
7    Bruno Fernandes     15       13
8         Phil Foden     27       12
9         Harry Kane     44       12
10   Vinicius Junior     24       11
11   Martin Ødegaard     11       11
12      Lamine Yamal      7       10
13     Kylian Mbappé     44       10
14     Heung-min Son     17       10
15       Declan Rice      7        9
16     Jamal Musiala     12        8
17  Lautaro Martínez     27        7
18    Erling Haaland     38        6

In [16]:
run("""
SELECT position,
    ROUND(AVG(goals), 2)          AS average_goals,
    ROUND(AVG(assists), 2)        AS average_assists,
    ROUND(AVG(minutes_played), 2) AS average_minutes_played
FROM df_info
GROUP BY position
ORDER BY position
""")

   position  average_goals  average_assists  average_minutes_played
0        AM          17.33            13.33                 3709.17
1        CB           2.00             1.00                 4050.00
2        CF          33.00             8.00                 3445.25
3        CM           3.50             6.50                 3125.00
4        DM           8.00            11.50                 4365.00
5        GK           0.00             0.00                 1665.00
6        LB           3.00             6.00                 3050.00
7        LW          18.67            11.67                 3260.67
8        RB           4.00             8.00                 2925.00
9        RW          19.75            12.50                 3586.50
10       ST          38.00             6.00                 3745.00

In [17]:
run("""
SELECT position,
    AVG(goals), 2          AS average_goals,
    AVG(assists), 2        AS average_assists,
    AVG(minutes_played), 2 AS average_minutes_played
FROM df_info GROUP BY position ORDER BY position
""")

,position,AVG(goals),average_goals,AVG(assists),average_assists,AVG(minutes_played),average_minutes_played
0,AM,17.333333,2,13.333333,2,3709.166667,2
1,CB,2.000000,2,1.000000,2,4050.000000,2
2,CF,33.000000,2,8.000000,2,3445.250000,2
3,CM,3.500000,2,6.500000,2,3125.000000,2
4,DM,8.000000,2,11.500000,2,4365.000000,2
5,GK,0.000000,2,0.000000,2,1665.000000,2
6,LB,3.000000,2,6.000000,2,3050.000000,2
7,LW,18.666667,2,11.666667,2,3260.666667,2
8,RB,4.000000,2,8.000000,2,2925.000000,2
9,RW,19.750000,2,12.500000,2,3586.500000,2
10,ST,38.000000,2,6.000000,2,3745.000000,2

In [18]:
run("""
SELECT nationality,
    ROUND(AVG(height_cm), 2) AS avg_height
FROM df_info GROUP BY nationality ORDER BY avg_height DESC
""")

    nationality  avg_height
0       Belgium      200.00
1   Netherlands      193.00
2        Norway      186.50
3       Nigeria      186.00
4        France      185.00
5        Canada      185.00
6      Portugal      184.67
7        Brazil      184.50
8   South Korea      184.00
9       Uruguay      182.00
10        Spain      181.67
11      England      181.14
12      Morocco      181.00
13      Germany      180.50
14        Egypt      175.00
15    Argentina      174.00

In [19]:
run("""
SELECT current_club,
    COUNT(player_name) AS player_count
FROM df_info
GROUP BY current_club
ORDER BY player_count DESC
""")

           current_club  player_count
0           Real Madrid             5
1       Manchester City             4
2             Liverpool             4
3               Arsenal             4
4         Bayern Munich             3
5             Barcelona             2
6     Tottenham Hotspur             1
7   Paris Saint-Germain             1
8     Manchester United             1
9           Inter Milan             1
10          Galatasaray             1
11              Chelsea             1
12     Bayer Leverkusen             1
13             AC Milan             1

In [20]:
run("""
SELECT preferred_foot,
    SUM(goals)   AS total_goals,
    SUM(assists) AS total_assists
FROM df_info GROUP BY preferred_foot ORDER BY preferred_foot
""")

  preferred_foot  total_goals  total_assists
0           Both           17             10
1           Left          156             88
2          Right          276            166

In [21]:
run("""SELECT df_players.player_name, df_players.date_of_birth, df_players.nationality,df_players.position,df_players.preferred_foot,
df_players.height_cm,df_players.current_club,df_players.league,df_stats.season,df_stats.matches_played,df_stats.minutes_played,df_stats.goals,
df_stats.assists,df_stats.xg,df_stats.xa FROM df_players  INNER JOIN
df_stats ON df_players.player_id = df_stats.player_id""")

,player_name,date_of_birth,nationality,position,preferred_foot,height_cm,current_club,league,season,matches_played,minutes_played,goals,assists,xg,xa
0,Erling Haaland,2000-07-21,Norway,ST,Left,195,Manchester City,Premier League,2023-2024,45,3745,38,6,41.2,4.5
1,Kylian Mbappé,1998-12-20,France,CF,Right,178,Real Madrid,LaLiga,2023-2024,48,3869,44,10,39.5,8.2
2,Jude Bellingham,2003-06-29,England,AM,Right,186,Real Madrid,LaLiga,2023-2024,42,3644,23,13,18.4,9.1
3,Vinicius Junior,2000-07-12,Brazil,LW,Right,176,Real Madrid,LaLiga,2023-2024,39,3084,24,11,19.8,10.2
4,Harry Kane,1993-07-28,England,CF,Right,188,Bayern Munich,Bundesliga,2023-2024,45,3943,44,12,40.1,8.5
5,Rodri,1996-06-22,Spain,DM,Right,191,Manchester City,Premier League,2023-2024,50,4325,9,14,6.5,7.8
6,Bukayo Saka,2001-09-05,England,RW,Left,178,Arsenal,Premier League,2023-2024,47,3982,20,14,17.2,12.5
7,Phil Foden,2000-05-28,England,RW,Left,171,Manchester City,Premier League,2023-2024,53,4277,27,12,19.4,10.1
8,Jamal Musiala,2003-02-26,Germany,AM,Right,184,Bayern Munich,Bundesliga,2023-2024,38,2855,12,8,10.5,6.2
9,Florian Wirtz,2003-05-03,Germany,AM,Right,177,Bayer Leverkusen,Bundesliga,2023-2024,49,3899,18,20,14.8,16.5
10,Declan Rice,1999-01-14,England,DM,Right,185,Arsenal,Premier League,2023-2024,51,4405,7,9,4.5,5.2
11,Martin Ødegaard,1998-12-17,Norway,AM,Left,178,Arsenal,Premier League,2023-2024,48,4122,11,11,9.2,11.8
12,Lautaro Martínez,1997-08-22,Argentina,CF,Right,174,Inter Milan,Serie A,2023-2024,44,3502,27,7,24.5,5.1
13,Victor Osimhen,1998-12-29,Nigeria,CF,Right,186,Galatasaray,Süper Lig,2023-2024,32,2467,17,3,16.8,2.5
14,Mohamed Salah,1992-06-15,Egypt,RW,Left,175,Liverpool,Premier League,2023-2024,44,3132,25,14,24.2,11.5
15,Virgil van Dijk,1991-07-08,Netherlands,CB,Right,193,Liverpool,Premier League,2023-2024,48,4050,4,2,3.5,1.2
16,Cole Palmer,2002-05-06,England,AM,Left,185,Chelsea,Premier League,2023-2024,45,3450,25,15,21.5,13.2
17,Lamine Yamal,2007-07-13,Spain,RW,Left,180,Barcelona,LaLiga,2023-2024,50,2955,7,10,8.2,9.5
18,Pedri,2002-11-25,Spain,CM,Right,174,Barcelona,LaLiga,2023-2024,34,1970,4,5,3.8,4.5
19,Federico Valverde,1998-07-22,Uruguay,CM,Right,182,Real Madrid,LaLiga,2023-2024,54,4280,3,8,4.5,6.5
20,Rafael Leão,1999-06-10,Portugal,LW,Right,188,AC Milan,Serie A,2023-2024,47,3548,15,14,12.5,10.8
21,William Saliba,2001-03-24,France,CB,Right,192,Arsenal,Premier League,2023-2024,50,4500,2,1,1.5,0.5
22,Rúben Dias,1997-05-14,Portugal,CB,Right,187,Manchester City,Premier League,2023-2024,45,3600,0,0,1.0,0.2
23,Alphonso Davies,2000-11-02,Canada,LB,Left,185,Bayern Munich,Bundesliga,2023-2024,42,3050,3,6,2.8,5.2
24,Achraf Hakimi,1998-11-04,Morocco,RB,Right,181,Paris Saint-Germain,Ligue 1,2023-2024,40,3200,5,7,4.5,6.1
25,Trent Alexander-Arnold,1998-10-07,England,RB,Right,175,Liverpool,Premier League,2023-2024,37,2650,3,9,2.5,8.5
26,Bruno Fernandes,1994-09-08,Portugal,AM,Right,179,Manchester United,Premier League,2023-2024,48,4285,15,13,14.5,15.2
27,Thibaut Courtois,1992-05-11,Belgium,GK,Left,200,Real Madrid,LaLiga,2023-2024,5,450,0,0,0.0,0.0
28,Alisson Becker,1992-10-02,Brazil,GK,Right,193,Liverpool,Premier League,2023-2024,32,2880,0,0,0.0,0.1
29,Heung-min Son,1992-07-08,South Korea,LW,Both,184,Tottenham Hotspur,Premier League,2023-2024,36,3150,17,10,15.8,9.5